:root {
    --size: 7vmin;
    --c2: #f672ca;
  }
  
  @property --a {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
  }
  @-webkit-keyframes rotation {
    from {
      --a: 0deg;
    }
    to {
      --a: 360deg;
    }
  }
  @keyframes rotation {
    from {
      --a: 0deg;
    }
    to {
      --a: 360deg;
    }
  }
  .scene {
    perspective: 100vmin;
  }
  
  .object {
    transform-style: preserve-3d;
    transform: rotate3d(0, 1, 0, var(--a)) scaleY(-1);
    -webkit-animation: rotation 10s linear infinite;
            animation: rotation 10s linear infinite;
    height: calc(5 * var(--size) / 4);
  }
  
  .pyramid {
    position: absolute;
    transform-style: preserve-3d;
    width: var(--size);
    height: var(--size);
  }
  .pyramid:nth-child(1) {
    --index: 1;
    transform: translate3d(calc(var(--size) * 0), calc(var(--size) * -2), calc(var(--size) * 0));
  }
  .pyramid:nth-child(2) {
    --index: 2;
    transform: translate3d(calc(var(--size) * -0.5), calc(var(--size) * -1), calc(var(--size) * -0.5));
  }
  .pyramid:nth-child(3) {
    --index: 3;
    transform: translate3d(calc(var(--size) * -0.5), calc(var(--size) * -1), calc(var(--size) * 0.5));
  }
  .pyramid:nth-child(4) {
    --index: 4;
    transform: translate3d(calc(var(--size) * 0.5), calc(var(--size) * -1), calc(var(--size) * -0.5));
  }
  .pyramid:nth-child(5) {
    --index: 5;
    transform: translate3d(calc(var(--size) * 0.5), calc(var(--size) * -1), calc(var(--size) * 0.5));
  }
  .pyramid:nth-child(6) {
    --index: 6;
    transform: translate3d(calc(var(--size) * -1), calc(var(--size) * 0), calc(var(--size) * -1));
  }
  .pyramid:nth-child(7) {
    --index: 7;
    transform: translate3d(calc(var(--size) * -1), calc(var(--size) * 0), calc(var(--size) * 0));
  }
  .pyramid:nth-child(8) {
    --index: 8;
    transform: translate3d(calc(var(--size) * -1), calc(var(--size) * 0), calc(var(--size) * 1));
  }
  .pyramid:nth-child(9) {
    --index: 9;
    transform: translate3d(calc(var(--size) * 0), calc(var(--size) * 0), calc(var(--size) * -1));
  }
  .pyramid:nth-child(10) {
    --index: 10;
    transform: translate3d(calc(var(--size) * 0), calc(var(--size) * 0), calc(var(--size) * 0));
  }
  .pyramid:nth-child(11) {
    --index: 11;
    transform: translate3d(calc(var(--size) * 0), calc(var(--size) * 0), calc(var(--size) * 1));
  }
  .pyramid:nth-child(12) {
    --index: 12;
    transform: translate3d(calc(var(--size) * 1), calc(var(--size) * 0), calc(var(--size) * -1));
  }
  .pyramid:nth-child(13) {
    --index: 13;
    transform: translate3d(calc(var(--size) * 1), calc(var(--size) * 0), calc(var(--size) * 0));
  }
  .pyramid:nth-child(14) {
    --index: 14;
    transform: translate3d(calc(var(--size) * 1), calc(var(--size) * 0), calc(var(--size) * 1));
  }
  .pyramid:nth-child(15) {
    --index: 15;
    transform: translate3d(calc(var(--size) * -1.5), calc(var(--size) * 1), calc(var(--size) * -1.5));
  }
  .pyramid:nth-child(16) {
    --index: 16;
    transform: translate3d(calc(var(--size) * -1.5), calc(var(--size) * 1), calc(var(--size) * -0.5));
  }
  .pyramid:nth-child(17) {
    --index: 17;
    transform: translate3d(calc(var(--size) * -1.5), calc(var(--size) * 1), calc(var(--size) * 0.5));
  }
  .pyramid:nth-child(18) {
    --index: 18;
    transform: translate3d(calc(var(--size) * -1.5), calc(var(--size) * 1), calc(var(--size) * 1.5));
  }
  .pyramid:nth-child(19) {
    --index: 19;
    transform: translate3d(calc(var(--size) * -0.5), calc(var(--size) * 1), calc(var(--size) * -1.5));
  }
  .pyramid:nth-child(20) {
    --index: 20;
    transform: translate3d(calc(var(--size) * -0.5), calc(var(--size) * 1), calc(var(--size) * -0.5));
  }
  .pyramid:nth-child(21) {
    --index: 21;
    transform: translate3d(calc(var(--size) * -0.5), calc(var(--size) * 1), calc(var(--size) * 0.5));
  }
  .pyramid:nth-child(22) {
    --index: 22;
    transform: translate3d(calc(var(--size) * -0.5), calc(var(--size) * 1), calc(var(--size) * 1.5));
  }
  .pyramid:nth-child(23) {
    --index: 23;
    transform: translate3d(calc(var(--size) * 0.5), calc(var(--size) * 1), calc(var(--size) * -1.5));
  }
  .pyramid:nth-child(24) {
    --index: 24;
    transform: translate3d(calc(var(--size) * 0.5), calc(var(--size) * 1), calc(var(--size) * -0.5));
  }
  .pyramid:nth-child(25) {
    --index: 25;
    transform: translate3d(calc(var(--size) * 0.5), calc(var(--size) * 1), calc(var(--size) * 0.5));
  }
  .pyramid:nth-child(26) {
    --index: 26;
    transform: translate3d(calc(var(--size) * 0.5), calc(var(--size) * 1), calc(var(--size) * 1.5));
  }
  .pyramid:nth-child(27) {
    --index: 27;
    transform: translate3d(calc(var(--size) * 1.5), calc(var(--size) * 1), calc(var(--size) * -1.5));
  }
  .pyramid:nth-child(28) {
    --index: 28;
    transform: translate3d(calc(var(--size) * 1.5), calc(var(--size) * 1), calc(var(--size) * -0.5));
  }
  .pyramid:nth-child(29) {
    --index: 29;
    transform: translate3d(calc(var(--size) * 1.5), calc(var(--size) * 1), calc(var(--size) * 0.5));
  }
  .pyramid:nth-child(30) {
    --index: 30;
    transform: translate3d(calc(var(--size) * 1.5), calc(var(--size) * 1), calc(var(--size) * 1.5));
  }
  .pyramid:nth-child(31) {
    --index: 31;
    transform: translate3d(calc(var(--size) * -2), calc(var(--size) * 2), calc(var(--size) * -2));
  }
  .pyramid:nth-child(32) {
    --index: 32;
    transform: translate3d(calc(var(--size) * -2), calc(var(--size) * 2), calc(var(--size) * -1));
  }
  .pyramid:nth-child(33) {
    --index: 33;
    transform: translate3d(calc(var(--size) * -2), calc(var(--size) * 2), calc(var(--size) * 0));
  }
  .pyramid:nth-child(34) {
    --index: 34;
    transform: translate3d(calc(var(--size) * -2), calc(var(--size) * 2), calc(var(--size) * 1));
  }
  .pyramid:nth-child(35) {
    --index: 35;
    transform: translate3d(calc(var(--size) * -2), calc(var(--size) * 2), calc(var(--size) * 2));
  }
  .pyramid:nth-child(36) {
    --index: 36;
    transform: translate3d(calc(var(--size) * -1), calc(var(--size) * 2), calc(var(--size) * -2));
  }
  .pyramid:nth-child(37) {
    --index: 37;
    transform: translate3d(calc(var(--size) * -1), calc(var(--size) * 2), calc(var(--size) * -1));
  }
  .pyramid:nth-child(38) {
    --index: 38;
    transform: translate3d(calc(var(--size) * -1), calc(var(--size) * 2), calc(var(--size) * 0));
  }
  .pyramid:nth-child(39) {
    --index: 39;
    transform: translate3d(calc(var(--size) * -1), calc(var(--size) * 2), calc(var(--size) * 1));
  }
  .pyramid:nth-child(40) {
    --index: 40;
    transform: translate3d(calc(var(--size) * -1), calc(var(--size) * 2), calc(var(--size) * 2));
  }
  .pyramid:nth-child(41) {
    --index: 41;
    transform: translate3d(calc(var(--size) * 0), calc(var(--size) * 2), calc(var(--size) * -2));
  }
  .pyramid:nth-child(42) {
    --index: 42;
    transform: translate3d(calc(var(--size) * 0), calc(var(--size) * 2), calc(var(--size) * -1));
  }
  .pyramid:nth-child(43) {
    --index: 43;
    transform: translate3d(calc(var(--size) * 0), calc(var(--size) * 2), calc(var(--size) * 0));
  }
  .pyramid:nth-child(44) {
    --index: 44;
    transform: translate3d(calc(var(--size) * 0), calc(var(--size) * 2), calc(var(--size) * 1));
  }
  .pyramid:nth-child(45) {
    --index: 45;
    transform: translate3d(calc(var(--size) * 0), calc(var(--size) * 2), calc(var(--size) * 2));
  }
  .pyramid:nth-child(46) {
    --index: 46;
    transform: translate3d(calc(var(--size) * 1), calc(var(--size) * 2), calc(var(--size) * -2));
  }
  .pyramid:nth-child(47) {
    --index: 47;
    transform: translate3d(calc(var(--size) * 1), calc(var(--size) * 2), calc(var(--size) * -1));
  }
  .pyramid:nth-child(48) {
    --index: 48;
    transform: translate3d(calc(var(--size) * 1), calc(var(--size) * 2), calc(var(--size) * 0));
  }
  .pyramid:nth-child(49) {
    --index: 49;
    transform: translate3d(calc(var(--size) * 1), calc(var(--size) * 2), calc(var(--size) * 1));
  }
  .pyramid:nth-child(50) {
    --index: 50;
    transform: translate3d(calc(var(--size) * 1), calc(var(--size) * 2), calc(var(--size) * 2));
  }
  .pyramid:nth-child(51) {
    --index: 51;
    transform: translate3d(calc(var(--size) * 2), calc(var(--size) * 2), calc(var(--size) * -2));
  }
  .pyramid:nth-child(52) {
    --index: 52;
    transform: translate3d(calc(var(--size) * 2), calc(var(--size) * 2), calc(var(--size) * -1));
  }
  .pyramid:nth-child(53) {
    --index: 53;
    transform: translate3d(calc(var(--size) * 2), calc(var(--size) * 2), calc(var(--size) * 0));
  }
  .pyramid:nth-child(54) {
    --index: 54;
    transform: translate3d(calc(var(--size) * 2), calc(var(--size) * 2), calc(var(--size) * 1));
  }
  .pyramid:nth-child(55) {
    --index: 55;
    transform: translate3d(calc(var(--size) * 2), calc(var(--size) * 2), calc(var(--size) * 2));
  }
  .pyramid > div {
    position: absolute;
    width: var(--size);
    height: var(--size);
    opacity: 0.2;
  }
  .pyramid > div:not(.bottom) {
    -webkit-mask: url("https://assets.codepen.io/907471/triangle-mask.svg?v42") center center no-repeat;
    -webkit-mask-size: contain;
    transform-origin: bottom;
  }
  
  .front {
    background: #e472f6;
    transform: translateZ(calc(var(--size) / 2)) rotateX(30deg);
  }
  
  .back {
    background: #3b90b5;
    transform: translateZ(calc(var(--size) / -2)) rotateX(-30deg);
  }
  
  .left {
    background: #ffffff;
    transform: translateX(-50%) rotateY(90deg) rotateX(-30deg);
  }
  
  .right {
    background: #7597f9;
    transform: translateX(50%) rotateY(90deg) rotateX(30deg);
  }
  
  .bottom {
    background: #0f68ff;
    transform: rotateX(-90deg) translateZ(calc(var(--size) / 2));
  }
  
  body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: radial-gradient(#1a2f47, #000000);
    color: var(--c2);
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }